---
layout: default
title: About
section_id: about
---

<div class='full parallax' style='background-image: url(images/aboutus.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="Know something about our team" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Locations</h3>
      <p>Anjuna's 14 worldwide offices provide its clients a global reach with local expertise.</p>
	  <p class='centered-text'><img src="images/map-locations.jpg"></p>
	   <p class="right" style="font-size:0.8rem;">*Egypt, Pakistan and South Africa opened 2019</p>
	   <div class='three spacing'></div>
      <h3>Team</h3>
      <p>The Anjuna team is comprised of the best in aviation, travel, IT, digital marketing and problem solvers that analyze things differently. Anjuna's cross-functional team thinks together, but not alike, offering its' airline and airport clients a unique outside perspective. Utilizing the latest technology, Anjuna leverages its' global network of subject matter experts in various disciplines and combines this with a regional sales team with the local expertise and relationships to drive incremental revenue, increase yield and reduce costs. This non-silo'd business structure enables Anjuna to scale quickly, efficiently and to provide its' clients with a consistent level of service throughout its' network.</p>  
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
  <div class='medium-12 columns'>
  <h3>Anjuna Executive Management</h3>
  </div>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <a href="#" class="accordion-member" data-member="{{member.short}}"><img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
              </div>
            </div>
			</a>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='row'>
	{% for member in site.data.members %}
	  <div class='small-12 medium-12 large-12 columns' data-member-expand="{{member.short}}" style="display:none;float:left">
		<h2 style="margin-bottom:0">{{member.name}}</h2>
		<p>{{member.position}}</p>
		<p>{{member.desc}}</p>
	  </div>
	{% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

{% include our-customers.html %}