---
layout: default
title: Consulting
section_id: consulting
services_left:
  - title: Route Development
    bullets: 
      - item: Airline Route Business Case Development
      - item: Airline Engagement Strategies
      - item: Aviation Business Strategy Development
      - item: "Airline Incentive Strategies"
      - item: Air Charter Assessments
  - title: Market Research
    bullets: 
      - item: "Business Segmentation Surveys"
      - item: "Passenger Profile Surveys"
      - item: "Catchment Area Surveys"
      - item: "Online Panel Surveys"
services_right:
  - title: Aviation Management
    bullets: 
      - item: Aviation Strategies
      - item: Joint Network Planning
      - item: Traffic Forecasting
      - item: Airport Rates and Charges
      - item: Marketing Strategies
      - item: Business Planning
      - item: Feasibility Studies
      - item: Strategic Planning
      - item: Commercial Due Diligence
      - item: Business Negotiation Support
      - item: Online Sales and Marketing Strategies
      - item: Aeronautical / Non-Aeronautical Optimization Strategies
---

<div class='full parallax' style='background-image: url(images/consulting.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Consulting" tagline="Aviation Consulting" color="#fff" class="big" %}
	  
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>

	<div class='row'>
	<div class='large-12 columns'>
	<div class='spacing'></div>
      <p>
Anjuna Aviation Consulting understands the world of aviation and has developed a range of services that can deliver seamless results across a number of specializations. We’re able to help airlines and airports with high-level strategic planning, day to day operations, and more.</p>
 
<p>Our team of industry experts has held senior management positions at leading airports, airlines, and tourism organizations in over 20 countries around the world, allowing Anjuna Aviation Consulting to give every client a range of qualified, informed perspectives.</p>
	  <div class='three spacing'></div>
	  </div>
	  
	  </div>

  <div class='row consulting'>

  <div class='medium-6 columns services-list' style='padding-right:5%;'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 25 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <h3>{{service.title}}</h3>
			<ul>
			{% for bpoints in service.bullets %}
            <li>{{bpoints.item}}</li>
			{% endfor %}
			</ul>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns services-list' style='padding-left:5%;'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 25 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <h3>{{service.title}}</h3>
			<ul>
			{% for bpoints in service.bullets %}
            <li>{{bpoints.item}}</li>
			{% endfor %}
			</ul>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    
  </div>
  <div class='spacing'></div>
</div>