---
layout: default
section_id: home
slides:
  - bg: images/@stock/slide-1.jpg
    title:
      klass: bottom-to-top
      text: NEXT GENERATION GSA
    klass: right
    small_title:
      klass: bottom-to-top right
      text: "Global reach through local expertise"
    small_title_dek:
      text: Generating Incremental Revenue, Lowering Distribution Costs & Improving Yield
    buttons:
      klass: bottom-to-top right
      items:
        - text: Learn More
          link_to: "#services"
          pointer: chevron-down
#  - bg: images/indextop2.jpg
#    title:
#      klass: bottom-to-top
#      text: "Park To Plane"
#    klass: right second-type-title
#    small_title:
#      klass: bottom-to-top
#      text: "Influence, track and maximize income per passenger"
#    buttons:
#      klass: bottom-to-top
#      items:
#        - text: Learn More
#          link_to: about.html
#  - bg: images/indextop3.jpg
#    title:
#      klass: bottom-to-top
#      text: "Anjuna Intelligence&trade;"
#    klass: right second-type-title
#    small_title:
#      klass: bottom-to-top
#      text: Real-time interactive dashboard reporting
#    buttons:
#      klass: bottom-to-top
#      items:
#        - text: Learn More
#          link_to: about.html

works:
  - image: images/col1.jpg
    klass: graphi-design
  - image: images/col2.jpg
    klass: graphi-design
  - image: images/col3.jpg
    klass: graphi-design
  - image: images/col4.jpg
    klass: graphi-design

services:
  - icon: square-full
    title: Trade Sales
  - icon: square-full
    title: Reservations, Ticketing & Support
  - icon: square-full
    title: Marketing & Public Relations
  - icon: square-full
    title: Business Operations
  - icon: square-full
    title: Distribution
  - icon: square-full
    title: Aviation Consulting
  - icon: square-full
    title: Cargo
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='4000'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
				 <div class='four spacing'></div>
				 <div class='two spacing'></div>
              </div>
            </div>
          </div>
		  <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
				<h3>{{ slide.small_title_dek.text }}</h3>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='spacing'></div>
                {% for button in slide.buttons.items %}
                  <a href='{{ button.link_to }}' class='home-button'><i class='fas fa-{{ button.pointer }}'></i></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>



<a id="services"></a>
<div class='full' style="background: #f5f5f5;">
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Services" %}
      <div class='spacing'></div>
      <p>
        Aviation is part of our DNA. Through the Anjuna Strategic Airline Partnership (SAP) model, our team becomes an extension of the  client airline or airport, working together as a seamless partner. 
      </p>
	  <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/@stock/responsive.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 25 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fas fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
          </div>
          <div class='one spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="three spacing"></div>
</div>


<a id="aboutus"></a>
<div class="full">
  <div class="row">
    <div class="large-12 columns">
	
      {% include section-header.html title="About Us" %}
      <div class="spacing"></div>
      <p>Anjuna partners with airlines and airports around the world to generate incremental revenue, lower distribution costs and improve yield in domestic and international markets.</p>

<p>Anjuna offers all the services of a traditional airline general sales agent (GSA),  with an in-house aviation consulting division. However the core of our success is our Anjuna Intelligence&trade; platform that leverages multiple data sources in real-time to identify incremental opportunities and network planning opportunities that capitalize on new and existing market segments which create operational efficiencies to reduce costs.</p>

<p>Anjuna's 17 worldwide offices provide its' clients a global reach and local expertise through onsite management teams with well established relationships.</p>
<div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
	  <div class='spacing'></div>
      <p>
        The Anjuna team is comprised of the best in aviation, travel, IT, digital marketing and problem solvers who analyze things differently. Anjuna's cross-functional team thinks together, but not alike, offering its' airline and airport clients a unique outside perspective. Utilizing the latest technology, Anjuna leverages its' global network of subject matter experts in various disciplines and combines this with a regional sales team with the local expertise and relationships to drive incremental revenue, increase yield and reduce costs. This non-silo'd business structure enables Anjuna to scale quickly, efficiently and to provide its' clients with a consistent level of service throughout its' network.
      </p>
	  <div class='three spacing'></div>
    </div>
  </div>
  <div class='row team-member'>
    {% for member in site.data.members %}
      <div class='small-3 medium-3 large-3 columns gutter-team-member'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <a href="#" class="accordion-member" data-member="{{member.short}}"><img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
              </div>
            </div>
			</a>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class='row'>
	{% for member in site.data.members %}
	  <div class='small-12 medium-12 large-12 columns' data-member-expand="{{member.short}}" style="display:none;float:left">
		<h2 style="margin-bottom:0">{{member.name}}</h2>
		<p>{{member.position}}</p>
		<p>{{member.desc}}</p>
	  </div>
	{% endfor %}
  </div>
  <div class='two spacing'></div>

</div>

{% include our-customers.html %}