---
layout: default
title: Clients
section_id: clients
---


<div class='full' style='background-image: url(images/testimg/clients.jpg); background-position:bottom; color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Clients" tagline="Airlines Served" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>     

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for client in site.data.clients %}
          <li class='client-logo'>
              <img alt="" src="{{ client.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                </div>
              </div>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>