---
layout: default
title: Services
section_id: services
services_left:
  - title: Trade Sales
    bullets: 
      - item: Regular field sales calls to all agent types including Corporate Agents, OTAs, Consortia, Retail Agents, Community Agents, Marine Agents, Student/Youth Agents, MICE/Group Agents and Consolidators
      - item: Tailored e-newsletters and communications to trade
      - item: Auditing, evaluating, negotiating, executing and managing interline and pro-rate agreements
      - item: Identifying, creating, executing and managing Corporate Direct and Preferred Agency Agreements (PAA)
      - item: Product training and brand / product development
      - item: "Distribution of price sheets and product information<br><br><br>"
  - title: Marketing & Public Relations
    bullets: 
      - item: End-to-end PR services and support, including crisis management
      - item: Presence at key consumer, trade and media events
      - item: Surveys and Market Intelligence
      - item: Print and digital advertising
      - item: Media liaison
      - item: Development and management of activations and experiential events
      - item: Development and management online and offline of promotional campaigns
      - item: Social Media management
      - item: Website content management
      - item: Co-branded promotions and events with local tourism boards and other stakeholders
  - title: Distribution
    bullets: 
      - item: Fare filing in GDS through ATPCO
      - item: Interline e-ticketing (IET)*, providing access to 100,000+ travel agents worldwide interline options with 100+ airlines
      - item: Airline Reporting Corporation (ARC) enrollment and administration services*, providing access to 14,000+ U.S. agents, the largest travel market in the world
      - item: BSP enrollment and administration services* in over 100 BSP markets worldwide
      - item: Transport Clearing House (TCH) enrollment and administration services*, providing access to 7,000+ travel agents across Russia and CIS countries
      - item: UATP and alternative forms of payment*
services_right:
  - title: Reservations, Ticketing & Support
    bullets: 
      - item: In-house reservations and ticketing services for agents and customers
      - item: 24/7 call center support, including email, chat
      - item: Multi-lingual support in Arabic, Cantonese, English, French, German, Greek, Italian, Mandarin, Portuguese, Spanish and Thai
      - item: Handling of all airline reservations including FIT and group booking enquiries
      - item: Dedicated phone lines answered in the name of the airline, ticketing via the airline's CRS
      - item: Tour operator programs, allotment handling and control
      - item: Monthly sales statistics; including revenue control & reporting of all CTO activities
  - title: Business Operations
    bullets: 
      - item: Tax and legal consulting, agreement screening
      - item: Correspondence, contracting and negotiation with suppliers
      - item: Expat employment administration and payroll accounting
      - item: Debt collecting and control
      - item: Claim Handling baggage, mis-connections and disruptive passenger claim handling
      - item: IT Services
      - item: Real estate management
      - item: ADM/ACM processing & refund handling agent debit memo and agent credit memo
      - item: Full service controlling accounts receivable and payable
      - item: "Web development<br><br><br>"
  - title: Cargo
    bullets: 
      - item: Offline and Online cargo office as the airline.
      - item: Helpdesk support for local freight forwarders.
      - item: Installation of the airline’s own Cargo System.
      - item: Track-and-Trace.
      - item: Coordination with warehouse and first carrier (for off-line).
      - item: Help implement Special Pro-rate Agreements (SPA) and interline network.
      - item: Processing of invoices/local taxation as required.
      - item: Full Cargo reporting (CSR) plus monthly reconciliation.
      - item: Handling of customer issues and claims.
      - item: Display and distribution of promotional literature.
      - item: Rate analysis
      - item: Sales & Marketing
      - item: Global Cargo Interline Platform (GP-275 partnership)
---

<div class='full parallax' style='background-image: url(images/services.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Services" tagline="Airlines Sales, Marketing & Distribution" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
  <div class='medium-12 columns'>
  <p>Aviation is part of our DNA.  Anjuna offers all the services of a traditional airline General Sales Agent (GSA), but it's more of a Strategic Airline Partner (SAP) where our team becomes an extension of the airline working together to leverage multiple data points in real-time to identify network opportunities, capitalize on new and existing market segments, create operational efficiencies and reduce costs.</p>
  <div class='two spacing'></div>
  </div>
    <div class='medium-6 columns services-list' style='padding-right:5%;'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 25 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <h3>{{service.title}}</h3>
			<ul>
			{% for bpoints in service.bullets %}
            <li>{{bpoints.item}}</li>
			{% endfor %}
			</ul>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns services-list' style='padding-left:5%;'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 25 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <h3>{{service.title}}</h3>
			<ul>
			{% for bpoints in service.bullets %}
            <li>{{bpoints.item}}</li>
			{% endfor %}
			</ul>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
	<div class='medium-12 columns'>
	<p class="right" style="font-size:0.8rem;clear:both">*Services provided through our partnership with APG.</p>
	</div>
  </div>
  <div class='spacing'></div>
</div>