<div class='full parallax consulting-clients' style='color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Airlines Served" color="#fff" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div><img alt="" src="{{client.image}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>